<form style="margin-top: 150px;">
<div class="form-check">
    <h4>How u feel satisfy about working here?</h4>
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      A lot 
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Medium
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
    <label class="form-check-label" for="exampleRadios3">
      Nothing
    </label>
  </div>
  <br>
  <br>
  <h4>How happy are u today?</h4>
  <div class="form-group">
    <input type="range" class="form-control-range" id="formControlRange">
  </div>
  <br>
  <br>
  <div class="form-group">
      <h4>Where do u live?</h4>
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" style="width:220px;">
          <option selected>Italy</option>
          <option>Germany</option>
          <option>Switzerland</option>
        </select>
      </div>
      <br>
      <br>
      <div class="form-group">
          <h4>Please insert your age</h4>
          <input type="number">

      </div>
  
</form>