<div class="container-sezione wh-100">
    <div class="row wh-100">
        <div class="col-sm-12 col-md-1"></div>
        <div class="col-sm-12 col-md-10"> <h2 style="margin-left: 150px;">Testo</h2>
            <div class="col-sm-12 col-md-10 d-inline-flex">
            <p>uncing pleasure and praising pain wast of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pes, or one who avoids a pain that produces no resultant pleasure?"</p>
            <div class="container-form">
            <form [formGroup]="validations_form" style="width:300px">
                <div class="form-group">
                    <label>Username</label>
                    <input  formControlName="username" type="text" class="form-control">
                    
                </div>
    
                <div class="form-group">
                    <label>Password</label>
                    <input formControlName='password' type="password" class="form-control">
                </div>
                <br>
                <button (click)="funcLog()" class="btn btn-primary" type="submit">Login</button> 
                <br>
                <small class="text-success" *ngIf="adminvalue && adminvalue1">Login success</small>
            </form>
            </div>
          </div>
        <div class="col-sm-12 col-md-1"></div>
    </div>
    </div>
    