.containerNav{ 
    margin-top: 0px;
    .title{
        margin-top: 10px;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

img{
    border-radius: 32px;
    width:50px;
    height:50px;
}

h3{
    margin-right: 950px;
    margin-left: 0px;
    margin-top: 20px;
}


.container-links {
    display: inline-flex;
    justify-content:flex-end;
    align-items: center;

}
#links{
    margin-right: 20px;
    color:rgba(73, 51, 114, 0.849);
}



